body {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    color: aqua;
}

p {
    color: rgb(255, 0, 0);
    text-align: justify;
    text-indent: 20px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1.5ch;
    background-color: rgb(17, 223, 161);
}